#myimg{
  	border-radius: 50%;
    border: 1;
}

.form{
    background-color: orange;
}

.inner{
   overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}
.outer{
    overflow: hidden;
}
html {
    border: blue;
    border-width: 5px;
    border-style: solid;
}

#myprifile{
    border: 1;
}